{{ define "main" }}
{{ $list := (.Site.GetPage "section" "codelabs").Sections }}
<div id="google-codelab">
  {{ partial "menu.html" (dict "list" $list "page" . ) }}
  <div id="main">
    <div id="codelab-title">
      <div id="codelab-nav-buttons">
        <a href="{{ .Site.BaseURL }}" id="arrow-back">←</a>
      </div>
      {{ with (index $list 0).Title }}
      <h1>{{.}}</h1>
      {{end}}

      {{ partial "time-remaining.html" (dict "list" $list "page" . ) }}
    </div>
    <div id="steps">
      <div id="google-codelab-step">
        <div class="instructions">
          <div class="inner">
            <h2 class="step-title">{{.Title}}</h2>
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
    {{ partial "controls.html" (dict "list" $list "page" . ) }}
  </div>
</div>
{{ end }}