{{ $site := .page.Site }}
{{ $url := .page.URL }}
{{ $scratch := newScratch }}
{{ range .list }}
{{ $len := (sub (len .Pages) 1)}}
{{ $list := sort .Pages ".Params.order" "asc"}}
{{ range $index, $element := $list}}
{{ if eq $url .URL }}
  {{ $scratch.Set "previousPage" (index $list (sub $index 1)) }}
  {{ $scratch.Set "nextPage" (index $list (add $index 1)) }}
{{ end }}
<!--  isFirst-->
{{ if and (eq $url .URL) (eq $index 0)  }}{{ $scratch.Set "isFirst" true }}{{ end }}
<!--  end isFirst -->
<!--  isLast-->
{{ if and (eq $url .URL) (eq $index $len)  }}{{ $scratch.Set "isLast" true }}{{ end }}
<!--  end isLast -->
{{ end }}
{{ end }}
<div id="controls">
  <div id="fabs">
    {{if not ($scratch.Get "isFirst")}}
    <a href="{{($scratch.Get "previousPage").Permalink}}" id="previous-step" title="Previous step">Back</a>
    {{ end }}
    <div class="spacer"></div>
    {{if $scratch.Get "isLast"}}
    <a href="{{ $site.BaseURL }}" id="done" title="Codelab complete">Done</a>
    {{else}}
    <a href="{{($scratch.Get "nextPage").Permalink}}" id="next-step" title="Next step">Next</a>
    {{ end }}
  </div>
</div>