<footer>
  <div class="footer-wrapper site-width">
    <div class="link-list">
      <label>Connect</label>
      <ul>
        <li>
          <a href="https://googledevelopers.blogspot.com/">Blog</a>
        </li>
        <li>
          <a href="https://www.facebook.com/pages/Google-Developers/967415219957038">Facebook</a>
        </li>
        <li>
          <a href="https://plus.google.com/+GoogleDevelopers/posts">Google+</a>
        </li>
        <li>
          <a href="https://medium.com/google-developers">Medium</a>
        </li>
        <li>
          <a href="https://twitter.com/googledevs">Twitter</a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/GoogleDevelopers">YouTube</a>
        </li>
      </ul>
    </div>
    <div class="link-list">
      <label>Programs</label>
      <ul>
        <li>
          <a href="https://www.womentechmakers.com/">Women Techmakers</a>
        </li>
        <li>
          <a href="https://developers.google.com/agency/">Agency Program</a>
        </li>
        <li>
          <a href="https://developers.google.com/groups/">Google Developer Groups</a>
        </li>
        <li>
          <a href="https://developers.google.com/experts/">Google Developer Experts</a>
        </li>
        <li>
          <a href="https://developers.google.com/startups/">Startup Launchpad</a>
        </li>
      </ul>
    </div>
    <div class="link-list">
      <label>Developer Consoles</label>
      <ul>
        <li>
          <a href="https://console.developers.google.com/">Google API Console</a>
        </li>
        <li>
          <a href="https://console.cloud.google.com/">Google Cloud Developer Console</a>
        </li>
        <li>
          <a href="https://play.google.com/apps/publish/">Google Play Developer Console</a>
        </li>
        <li>
          <a href="https://firebase.google.com/console/">Firebase Console</a>
        </li>
        <li>
          <a href="https://cast.google.com/publish/">Cast SDK Developer Console</a>
        </li>
        <li>
          <a href="https://chrome.google.com/webstore/developer/dashboard">Chrome Web Store Dashboard</a>
        </li>
      </ul>
    </div>
    <div class="link-list">
      <label>Explore</label>
      <ul>
        <li>
          <a href="https://developers.google.com/android/">Android</a>
        </li>
        <li>
          <a href="https://developers.google.com/ios/">iOS</a>
        </li>
        <li>
          <a href="https://developers.google.com/web/">Web</a>
        </li>
        <li>
          <a href="https://developers.google.com/games/">Games</a>
        </li>
        <li>
          <a href="https://developers.google.com/products/">All Products</a>
        </li>
        <li>
          <a href="https://www.google.com/about/careers/">Careers</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footerbar">
    <div class="site-width">
      <span>
        <a href="https://developers.google.com/site-terms/">Terms</a>
        &nbsp; | &nbsp;
        <a href="https://www.google.com/intl/en/privacy/" class="gc-analytics-event"
          data-category="Site-Wide Custom Events" data-label="Footer Privacy Link">Privacy</a>
      </span>
    </div>
  </div>
</footer>