{{ $site := .Site }}
{{ $url := .Permalink }}

{{ $scratch := newScratch }}
{{ $scratch.Set "reachedCurrent" false }}
{{ $scratch.Set "timeLeft" 0 }}

{{ with .CurrentSection.Pages }}
{{ $sortedPages := (sort . ".Params.order" "asc")}}

{{range $index, $element := $sortedPages}}

{{ if eq $url .Permalink }}{{ $scratch.Set "reachedCurrent" true }}{{ end }}
{{ if $scratch.Get "reachedCurrent" }}
{{ $scratch.Set "timeLeft" (add ($scratch.Get "timeLeft") .ReadingTime ) }}
{{ end }}

{{end}}
{{end}}

<div id="time-remaining" title="Time remaining">
  {{ $readingTime := $scratch.Get "timeLeft" }}
  ⏱
  {{if eq $readingTime 1}}
  {{$readingTime}} min remaining
  {{else}}
  {{$readingTime}} mins remaining
  {{end}}
</div>